doctype html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title(deckrank.co: About Us)
    link(rel="stylesheet",
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="build/rozinah.min.css")
body
    include header.jade
    div.container-fluid
      div.form-group(id="faq")
        h3(class="extra_sections") Frequently Asked Questions
          div
          h4 What is deckrank?
          p(class="answer")
            |Deckrank is a platform to let you create a poll quickly and effortlessly.
            |You don't need to sign up.
            |Once you create a poll we generate a unique link for the poll.
            |You then share this link with others using a medium of your choice.
            |Both you and the people who vote can see the results.
          h4 Why deckrank?
          p(class="answer")
            |Let's say you want to have lunch with a largish group of friends.
            |You could start an email or create a message on a social network and trigger a chain of updates.
            |That's a perfectly reasonable option. But if you'd like to be
            |different and save everyone some time then you could
            |consider using deckrank.
            |Here's how. First create a poll with restaurant options. Next share the
            |link to the poll with your friends using text, facebook or
            |any social networking product that you use. Get them to vote on the poll. View the results
            |page as the votes stream in. Once all votes are in
            |make a reservations at the most popular restaurant. Enjoy your meal!

          h4 Do you have to vote to view the results?
          p(class="answer")
            |No. People can see the results only if you share the link to the results with them.
            |Every poll has a unique vote link and a results link.
          h4 Can voters see the results before they cast their vote?
          p(class="answer")
            |No. The link to the results are only made available once a vote has been cast.
          h4 Do you need to sign up to either vote or create a new poll?
          p(class="answer")
            |No.
          h4 Why do you need my email address?
          p(class="answer")
            |We want you to have a great product experience. Creating a
            |poll on your phone and losing the link to it
            |isn't fun.  We only ask for your email address so we can send you
            |the link to the poll and the results. Remember we are a "no sign up" service and that we'll never
            |spam you or sell your information to anyone.
          h4 Can I modify a poll I've created?
          p(class="answer")
            |No. All polls are final. Go ahead and create a new poll instead.
          h4 Do you have any example polls?
          p(class="answer")
            |Check out&nbsp
            a(href="https://www.twitter.com/deckrank") @deckrank
            |&nbsp;for some examples.
      div.form-group(id="about")
        h3(class="extra_sections") About
        p(class="answer")
            |deckrank is authored by Sunil Kowlgi (
            a(href="https://www.twitter.com/kowlgi") @kowlgi
            |) in Austin, TX  and friends.
      div.form-group(id="contact")
        h3(class="extra_sections") Contact
        form(role="form", id="contactform", class="ws-validate", method="post", action="/feedback")
            fieldset
                div.form-group.col-md-7
                  label(for="title") Your email
                  input(type="email", id="email", name="email", required="required",
                  class="form-control", autocomplete="on", maxlength="40")
                div.form-group.col-md-7
                  label(for="Description") Feedback
                  textarea(class="form-control" id="feedback", name="description",
                    rows="3",
                    placeholder="Your message...",
                    required="required",
                    maxlength="200", )
                div.form-group.col-md-7
                    button(type="submit", value="submit", class="btn btn-default")
                      |Send Feedback
                    p.thank-you
                        if feedback_done
                            |&nbsp;Thanks for your feedback! We'll get back to you.
    script.
        mixpanel.track_forms("#contactform", "Submitted feedback");
    include footer.jade
