doctype html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title FAQ/About/Contact Us - deckrank)
    link(rel="stylesheet",
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="build/rozinah.min.css")
body
    include common/header.jade
    div.container-fluid
      div.form-group(id="faq")
          h3(class="extra_sections")
              b Frequently Asked Questions
          div
          h4 What is deckrank?
          p(class="answer")
            |deckrank is a platform for quick and easy rank-based polls.
            |You don't need to sign up.
            |Once you create a poll we generate a unique link for the poll.
            |You then share this link with others using a medium of your choice.
            |Both you and the people who vote can see the results.
          h4 Why deckrank?
          p(class="answer")
            |Let's say you want to have lunch with a rather large group of friends.
            |You could send an email or create a message on a social network and trigger a chain of updates.
            |That's a perfectly reasonable option. But if you'd like to be
            |different and save everyone some time then you could
            |consider using deckrank.
            |Here's how. First create a poll with restaurant options. Next share the
            |link to the poll with your friends using email, text, facebook or
            |any social networking product that you use. Get them to vote on the poll. View the results
            |page as the votes stream in. Once all votes are in
            |make a reservation at the most popular restaurant. Enjoy your meal!
          h4 What makes deckrank different?
          p(class="answer")
            |deckrank is a platform for rank-based polls. You rank a list of options
            |in order of preference instead of choosing a single option from a
            |list of options. Give us a spin and you'll know what we mean.
          h4 Do you need to sign up to either vote or create a new poll?
          p(class="answer")
            |No.
          h4 Why do you need my email?
          p(class="answer")
             |We know how frustrating it can be to create a poll and then lose the links to
             |vote, edit the poll and view the results. We ask for your email so we can
             |send you these links. After you create a poll we'll send you two emails: one
             |with a link to vote on the poll which you can forward to your friends; another
             |with links to edit the poll and view results.
             br
             br
             |Similarly, it can be frustrating to vote on a poll and then lose the link to
             |view the results. We ask for your email while voting so we can
             |send you this link.
             br
             br
             |Providing your email is optional.
             |We're a signup free service and we'll never spam you or sell your information to
             |anyone.
          h4 I'm only here to vote. Is my email address shared with the person who created the poll?
          p(class="answer")
            |No. Your email address is not shared with anyone.
          h4 Can I modify a poll I've created?
          p(class="answer")
            |Yes, but you can only modify a copy of the poll. When you enter your email address while
            |creating a poll, we'll send you
            |a link to edit a copy of the poll. We don't support
            |direct editing of a poll as it'll invalidate submitted votes.
          h4(id="scoring") How are the overall results determined?
          p(class="answer")
            include common/scoringfaq.jade
          h4 Can voters see the results before they cast their vote?
          p(class="answer")
            |No. The link to the results is only made available to the voter after
            |they've cast their vote.
          h4 How to prevent voters from submitting multiple votes?
          p(class="answer")
            include common/preventduplicatefaq.jade
          h4 Do you have any example polls?
          p(class="answer")
            |Check out our&nbsp
            a(href="/featured") Featured Polls
            |&nbsp;page and follow&nbsp;
            a(href="https://www.twitter.com/deckrank") @deckrank
            |&nbsp;on Twitter.
      div.form-group(id="about")
        h3(class="extra_sections")
            b About
        p(class="answer")
            |deckrank is authored by Sunil Kowlgi (
            a(href="https://www.twitter.com/kowlgi") @kowlgi
            |) in Austin, TX  and friends.
      div.form-group(id="contact")
        h3(class="extra_sections")
            b Contact
        form(role="form", id="contactform", method="post", action="/feedback")
            fieldset
                div.form-group.col-md-7
                  label(for="title") Your email
                  input(type="email", id="email", name="email", required="required",
                  class="form-control", autocomplete="on", maxlength="40")
                div.form-group.col-md-7
                  label(for="Description") Feedback
                  textarea(class="form-control" id="feedback", name="description",
                    rows="3",
                    placeholder="Your message...",
                    required="required",
                    maxlength="200", )
                div.form-group.col-md-7
                    button(type="submit", id="submitfeedback", value="submit", class="btn btn-default")
                      |Send Feedback
                    div(class="text-danger small hidden")
                       | Please fill out fields highlighted above in red
                    p.thank-you
                        if feedback_done
                            |&nbsp;Thanks for your feedback! We'll get back to you.
    script.
        mixpanel.track_forms("#contactform", "Submitted feedback");
    include common/footer.jade
