doctype html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title deckrank.co: create a poll and share
    link(rel="stylesheet",
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="build/rozinah.min.css")
body
    include header.jade
    div.container-fluid
        fieldset
          div.form-group.col-sm-7
            h3
              |Create a poll and share
              p(class="text-info small") It's free and no signup required
          <br>
          form(role="form", id="createdeckrank", class="ws-validate", method="post", action="/create")
              div.form-group.col-sm-7
                label(for="title") Question
                input(type="text", class="form-control", id="title",
                      name="title", placeholder="Where do we get lunch today?",
                      required="required", maxlength="50")
              div.form-group.col-sm-7
                label(for="Description") Describe what this poll is about
                textarea(class="form-control" id="description", name="description",
                         rows="1",
                         placeholder="Rank lunch options in order of preference",
                         maxlength="200")
              div.form-group.col-sm-7
                label(for="options") Options
                div(class="table-responsive")
                  table(class="table", id="extra_options")
                      thead
                      tr.trhideclass
                          td
                              input(type="text", class="form-control",
                                  name="option1", id="opt1",
                                  placeholder="Franklin Barbecue",
                                  required="required", maxlength="50")
                          td
                      tr.trhideclass
                        td
                          input(type="text", id="opt2", name="option2",
                                class="form-control",
                                placeholder="Little Deli and Pizzeria",
                                required="required",
                                maxlength="50")
                        td.glyph_parent
                            a(href="#", id="add_another2", class="add_another")
                                span(class="glyphicon glyphicon-plus")
                            = "\n"
                            a(href="#", id="remove2")
                                span(class="glyphicon glyphicon-minus invisible")
              div.form-group.col-sm-7
                  label(for="email") Your email
                  input(type="email", id="email", name="email", required="required",
                        class="form-control", autocomplete="on", maxlength="50")
                  p(class="text-info small")
                    | We'll send you an email with a link to the poll. No spam
              div.form-group.col-sm-7
                  button(type="submit", value="submit", class="btn btn-default")
                    | Create A Poll
    include footer.jade
    script.
        mixpanel.track_forms("#createdeckrank", "Created a poll");
        var date = new Date();
        mixpanel.register_once("First time on create page", date.toString());

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src="js/js-webshim/minified/polyfiller.js")
    script(src="build/rozinah.min.js")
