doctype html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Vote: #{title}
    link(rel="stylesheet",
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css",
        href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
    link(rel="stylesheet", type="text/css", href="build/rozinah.min.css")
body
    include header.jade
    div.container-fluid
        fieldset
          div.form-group.col-sm-7
            h2
              = title
              p(class="text-muted small")
                = description
          if email
            div.form-group.col-sm-7
              include rank_sharebox.jade
          form(role="form", id="votedeckrank", class="ws-validate", method="post", action="/vote/" + rankid)
            div.form-group.col-sm-7
              label(for="sortable")
              |Rank options by reordering them and delete options you don't care about.&nbsp;
              a(id="resetRankOptions", class="btn-default") Reset
              |&nbsp;to start over
              br
              br
              div(class="alert alert-danger hidden", role="alert")
                  span(class="glyphicon glyphicon-exclamation-sign", aria-hidden="true")
                  |&nbsp;Please vote for at least one option
              ul(id="sortable")
                  each option, index in options
                    li.ui-state-default.inner-addon.right-addon
                        a(href="#", class="removeoption")
                            span(class="glyphicon glyphicon-remove")
                        span
                            = option
                        input(id="#{option}", name="option#{index}", value="#{option}", type="hidden")
            div.form-group.col-sm-7
                label(for="voter") Your name
                input(type="text", class="form-control", id="voter",
                    name="voter", placeholder="Enter your name",
                    maxlength="100")
                - var voter_mini_label = "Optional. So others know who you are";
                p(class="text-info small") #{voter_mini_label}
            if !email
                div.form-group.col-sm-7
                  label(for="email") Your email
                  input(type="email", id="email", name="email",
                        class="form-control", autocomplete="on", maxlength="100")
                  p(class="text-info small")
                    | Optional. We'll send you a link to the results. No spam
            div.form-group.col-sm-7
                button(type="submit", value="submit", id="submitvote", class="btn btn-default")
                    | Submit Your Vote
    script.
        mixpanel.track_forms("#votedeckrank", "Voted on a poll");
        var date = new Date();
        mixpanel.register_once("First time on vote page", date.toDateString());
    include footer.jade
